<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Import Page</title>
	</head>
	<body>
		<form
			action="/api/v1/import"
			method="post"
			enctype="multipart/form-data"
		>
			<input
				type="file"
				name="file"
				accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
			/>
			<button type="submit">Import</button>
		</form>
	</body>
</html>
